* {
    user-select: none;
    transition: 0.5s;
}
#flat-toggle label {
    position: absolute;
    left: 100px;
    top: 170px;
}
label {
    width: 115px;
    height: 56px;
    background-color: #d55050;
    box-shadow: inset 0 6px 0 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    position: absolute;
    top: auto;
    left: 47%;
    transform: translate(-50%,-50%);
    z-index: 2;
    cursor: pointer;
}
input:checked ~ label {
    background-color: #50d5a1;
}
input:checked ~ label div.s {
    margin-left: 54px;
}
label div.s {
    width: 56px;
    height: 46px;
    background-color: #fafafa;
    border-radius: 8px;
    position: relative;
    top: 3px;
    left: 3px;
    box-shadow: 0 5px 0 0 #d2d2d2;
    cursor: pointer;
}
label div div.d {
    width: 6px;
    height: 36px;
    top: 5px;
    background-color: #d2d2d2;
    position: relative;
    border-radius: 2.5px;
    box-shadow: inset 0 1.5px 0 0 rgba(0, 0, 0, 0.2);
    position: absolute;
}
label div div.d:nth-child(1) {
    left: 8px;
}
label div div.d:nth-child(2) {
    left: 25px;
}
label div div.d:nth-child(3) {
    left: 42px;
}
input {
    display: none;
    appearance: none;
}
