/* line 3, ../sass/screen.scss */
.page {
  height: 100%;
  background-color: #F9F9F9;
  background-image: -webkit-linear-gradient(top, #D8D8D8 0%, #F9F9F9 10%, #F9F9F9 80%, #D8D8D8 100%);
}

/* Mixins */
@-moz-keyframes spin /* Firefox */ {
  from {
    background-position: 0, 0 0;
  }
  to {
    background-position: 0, 0 -1580px;
  }
}
@-webkit-keyframes spin /* Safari and Chrome */ {
  from {
    background-position: 0, 0 0;
  }
  to {
    background-position: 0, 0 -1580px;
  }
}
@-ms-keyframes spin /* IE */ {
  from {
    background-position: 0, 0 0;
  }
  to {
    background-position: 0, 0 -1580px;
  }
}
@-o-keyframes spin /* Opera */ {
  from {
    background-position: 0, 0 0;
  }
  to {
    background-position: 0, 0 -1580px;
  }
}
@keyframes spin {
  from {
    background-position: 0, 0 0;
  }
  to {
    background-position: 0, 0 -1580px;
  }
}
/* line 106, ../sass/screen.scss */
#equation {
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: -80px;
}
/* line 112, ../sass/screen.scss */
#equation span {
  display: inline-block;
  vertical-align: middle;
  margin-right: 12px;
}
/* line 117, ../sass/screen.scss */
#equation .spinner {
  height: 140px;
  margin: 10px;
  margin-right: 12px;
  background-color: #FFF;
  background-position: 0;
  border-radius: 5px;
  box-shadow: inset 0 0 5px #000;
  position: relative;
  -webkit-animation: spin 3s linear 0s infinite;
  -moz-animation: spin 3s linear 0s infinite;
  -o-animation: spin 3s linear 0s infinite;
  -ms-animation: spin 3s linear 0s infinite;
  animation: spin 3s linear 0s infinite;
}
/* line 127, ../sass/screen.scss */
#equation .spinner:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: -10px;
  left: -10px;
  width: 120px;
  height: 160px;
  border-radius: 10px;
  background-color: #333;
  background-image: -webkit-linear-gradient(#666 0%, #333 60%, #666 100%);
  background-image: -moz-linear-gradient(#666 0%, #333 60%, #666 100%);
  background-image: -ms-linear-gradient(#666 0%, #333 60%, #666 100%);
  background-image: -o-linear-gradient(#666 0%, #333 60%, #666 100%);
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.2);
}
/* line 141, ../sass/screen.scss */
#equation .drink {
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6) 0%, transparent 15%, transparent 85%, rgba(0, 0, 0, 0.6) 100%), url("http://media.balsamiq.com/img/hashtaghot/drinks.jpg");
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.6) 0%, transparent 15%, transparent 85%, rgba(0, 0, 0, 0.6) 100%), url("http://media.balsamiq.com/img/hashtaghot/drinks.jpg");
  background-image: -ms-linear-gradient(rgba(0, 0, 0, 0.6) 0%, transparent 15%, transparent 85%, rgba(0, 0, 0, 0.6) 100%), url("http://media.balsamiq.com/img/hashtaghot/drinks.jpg");
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.6) 0%, transparent 15%, transparent 85%, rgba(0, 0, 0, 0.6) 100%), url("http://media.balsamiq.com/img/hashtaghot/drinks.jpg");
  width: 80px;
  background-size: 80px auto;
  background-position: 0, 0 20px;
}
/* line 146, ../sass/screen.scss */
#equation .drink:before {
  width: 100px;
}
/* line 150, ../sass/screen.scss */
#equation.zero .drink {
  background-position: 0, 0 -1580px;
}
/* line 153, ../sass/screen.scss */
#equation.one .drink {
  background-position: 0, 0 -1680px;
}
/* line 156, ../sass/screen.scss */
#equation.two .drink {
  background-position: 0, 0 -1780px;
}
/* line 159, ../sass/screen.scss */
#equation.three .drink {
  background-position: 0, 0 -1880px;
}
/* line 162, ../sass/screen.scss */
#equation.four .drink {
  background-position: 0, 0 -1980px;
}
/* line 165, ../sass/screen.scss */
#equation.five .drink {
  background-position: 0, 0 -2080px;
}
/* line 168, ../sass/screen.scss */
#equation.six .drink {
  background-position: 0, 0 -2180px;
}
/* line 171, ../sass/screen.scss */
#equation.seven .drink {
  background-position: 0, 0 -2280px;
}
/* line 175, ../sass/screen.scss */
#equation.done .spinner {
  -webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
  -ms-animation: none;
  animation: none;
  -webkit-transition: background-position 2s ease-out 0s;
  -moz-transition: background-position 2s ease-out 0s;
  -o-transition: background-position 2s ease-out 0s;
  -ms-transition: background-position 2s ease-out 0s;
  transition: background-position 2s ease-out 0s;
}

/* line 181, ../sass/screen.scss */
#shoulder {
  position: absolute;
  top: 30px;
  left: -100px;
  width: 80px;
  height: 100px;
  border-radius: 10px;
  background-color: #333;
  background-image: -webkit-linear-gradient(#666 0%, #333 60%, #666 100%);
  background-image: -moz-linear-gradient(#666 0%, #333 60%, #666 100%);
  background-image: -ms-linear-gradient(#666 0%, #333 60%, #666 100%);
  background-image: -o-linear-gradient(#666 0%, #333 60%, #666 100%);
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.2);
}

/* line 192, ../sass/screen.scss */
#arm {
  position: relative;
  top: 10px;
  left: 10px;
  cursor: pointer;
  width: 60px;
  height: 80px;
  border-radius: 10% / 50%;
  background-color: #666;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.3) 0%, transparent 15%, rgba(255, 255, 255, 0) 50%, transparent 85%, rgba(0, 0, 0, 0.3)), -webkit-linear-gradient(top, #333 0%, #666 10%, #999 30%, rgba(255, 255, 255, 0.8) 60%, #999 70%, #666 90%, #333 100%);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.3) 0%, transparent 15%, rgba(255, 255, 255, 0) 50%, transparent 85%, rgba(0, 0, 0, 0.3)), -moz-linear-gradient(top, #333 0%, #666 10%, #999 30%, rgba(255, 255, 255, 0.8) 60%, #999 70%, #666 90%, #333 100%);
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0.3) 0%, transparent 15%, rgba(255, 255, 255, 0) 50%, transparent 85%, rgba(0, 0, 0, 0.3)), -ms-linear-gradient(top, #333 0%, #666 10%, #999 30%, rgba(255, 255, 255, 0.8) 60%, #999 70%, #666 90%, #333 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.3) 0%, transparent 15%, rgba(255, 255, 255, 0) 50%, transparent 85%, rgba(0, 0, 0, 0.3)), -o-linear-gradient(top, #333 0%, #666 10%, #999 30%, rgba(255, 255, 255, 0.8) 60%, #999 70%, #666 90%, #333 100%);
}
/* line 203, ../sass/screen.scss */
#arm:before {
  content: '';
  position: absolute;
  top: -40px;
  left: 16px;
  width: 16px;
  height: 70px;
  border-radius: 8px;
  box-shadow: 0px 2px 0px #333;
  background-color: #999;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  transform: rotate(-10deg);
  background-image: -webkit-linear-gradient(left, #666 0%, rgba(255, 255, 255, 0.7) 50%, #666 100%);
  background-image: -moz-linear-gradient(left, #666 0%, rgba(255, 255, 255, 0.7) 50%, #666 100%);
  background-image: -ms-linear-gradient(left, #666 0%, rgba(255, 255, 255, 0.7) 50%, #666 100%);
  background-image: -o-linear-gradient(left, #666 0%, rgba(255, 255, 255, 0.7) 50%, #666 100%);
  background-image: linear-gradient(to right, #666666 0%, rgba(255, 255, 255, 0.7) 50%, #666666 100%);
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}
/* line 219, ../sass/screen.scss */
#arm:after {
  content: '';
  position: absolute;
  top: -70px;
  left: -4px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #760209;
  border: 2px solid #5d0207;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: -webkit-radial-gradient(50% 40%, closest-corner, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  background-image: -moz-radial-gradient(50% 40%, closest-corner, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  background-image: -ms-radial-gradient(50% 40%, closest-corner, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  background-image: -o-radial-gradient(50% 40%, closest-corner, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

/* line 236, ../sass/screen.scss */
#arm.clicked:before {
  top: -20px;
  left: 20px;
  -webkit-transform: rotate3d(100, 10, 0, 180deg);
  -moz-transform: rotate3d(100, 10, 0, 180deg);
  transform: rotate3d(100, 10, 0, 180deg);
  -webkit-transform-origin: 0% 100%;
  -moz-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}
/* line 243, ../sass/screen.scss */
#arm.clicked:after {
  top: 90px;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}
