/* line 2, ../sass/toggle2.scss */
.toggle2 {
  /*=====================*/
}
/* line 3, ../sass/toggle2.scss */
.toggle2 *,
.toggle2 *:after,
.toggle2 *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 11, ../sass/toggle2.scss */
.toggle2 body {
  text-align: center;
  background: #eee;
}
/* line 15, ../sass/toggle2.scss */
.toggle2 section {
  float: left;
  min-width: 150px;
  width: 33.33%;
  padding: 25px 0;
  min-height: 100px;
}
/* line 23, ../sass/toggle2.scss */
.toggle2 .checkbox {
  position: relative;
  display: inline-block;
}
/* line 26, ../sass/toggle2.scss */
.toggle2 .checkbox:after, .toggle2 .checkbox:before {
  font-family: FontAwesome;
  font-feature-settings: normal;
  font-kerning: auto;
  font-language-override: normal;
  font-stretch: normal;
  font-style: normal;
  font-synthesis: weight style;
  font-variant: normal;
  font-weight: normal;
  text-rendering: auto;
}
/* line 39, ../sass/toggle2.scss */
.toggle2 .checkbox label {
  width: 90px;
  height: 42px;
  background: #ccc;
  position: relative;
  display: inline-block;
  -moz-border-radius: 46px;
  -webkit-border-radius: 46px;
  border-radius: 46px;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
/* line 47, ../sass/toggle2.scss */
.toggle2 .checkbox label:after {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  left: 0;
  top: -5px;
  z-index: 2;
  background: #fff;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
/* line 61, ../sass/toggle2.scss */
.toggle2 .checkbox input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}
/* line 70, ../sass/toggle2.scss */
.toggle2 .checkbox input:hover + label:after {
  -moz-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}
/* line 74, ../sass/toggle2.scss */
.toggle2 .checkbox input:checked + label:after {
  left: 40px;
}
/* line 82, ../sass/toggle2.scss */
.toggle2 .model-11 .checkbox:after, .toggle2 .model-11 .checkbox:before {
  content: 'OFF';
  position: absolute;
  right: 10px;
  top: 10px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
  color: #90201F;
}
/* line 92, ../sass/toggle2.scss */
.toggle2 .model-11 .checkbox:before {
  content: 'ON';
  left: -40px;
  z-index: 100;
  color: #266c33;
}
/* line 99, ../sass/toggle2.scss */
.toggle2 .model-11 .checkbox label {
  background: #E3666C;
  height: 32px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.2);
}
/* line 104, ../sass/toggle2.scss */
.toggle2 .model-11 .checkbox label:after {
  background-color: #ffffff;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFFFFFFF', endColorstr='#FFFFFFFF');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIzMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48c3RvcCBvZmZzZXQ9IjQ1JSIgc3RvcC1jb2xvcj0iI2RkZGRkZCIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PHN0b3Agb2Zmc2V0PSI1NSUiIHN0b3AtY29sb3I9IiNkZGRkZGQiLz48c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(30%, #ffffff), color-stop(45%, #dddddd), color-stop(50%, #ffffff), color-stop(55%, #dddddd), color-stop(70%, #ffffff));
  background-image: -moz-linear-gradient(left, #ffffff 30%, #dddddd 45%, #ffffff 50%, #dddddd 55%, #ffffff 70%);
  background-image: -webkit-linear-gradient(left, #ffffff 30%, #dddddd 45%, #ffffff 50%, #dddddd 55%, #ffffff 70%);
  background-image: linear-gradient(to right, #ffffff 30%, #dddddd 45%, #ffffff 50%, #dddddd 55%, #ffffff 70%);
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  top: 0;
  width: 50px;
  height: 32px;
}
/* line 116, ../sass/toggle2.scss */
.toggle2 .model-11 .checkbox input:checked + label {
  background: #4BD865;
}
/* line 118, ../sass/toggle2.scss */
.toggle2 .model-11 .checkbox input:checked + label:after {
  left: 40px;
}
