@keyframes seconds-tens {
    0% {
        transform: translateY(-180px);
    }
    16.66667% {
        transform: translateY(-360px);
    }
    33.33333% {
        transform: translateY(-540px);
    }
    50% {
        transform: translateY(-720px);
    }
    66.66667% {
        transform: translateY(-900px);
    }
    83.33333% {
        transform: translateY(-1080px);
    }
}
@keyframes seconds-ones {
    0% {
        transform: translateY(-180px);
    }
    10% {
        transform: translateY(-360px);
    }
    20% {
        transform: translateY(-540px);
    }
    30% {
        transform: translateY(-720px);
    }
    40% {
        transform: translateY(-900px);
    }
    50% {
        transform: translateY(-1080px);
    }
    60% {
        transform: translateY(-1260px);
    }
    70% {
        transform: translateY(-1440px);
    }
    80% {
        transform: translateY(-1620px);
    }
    90% {
        transform: translateY(-1800px);
    }
}
@keyframes hundredths-tens {
    0% {
        transform: translateY(-180px);
    }
    10% {
        transform: translateY(-360px);
    }
    20% {
        transform: translateY(-540px);
    }
    30% {
        transform: translateY(-720px);
    }
    40% {
        transform: translateY(-900px);
    }
    50% {
        transform: translateY(-1080px);
    }
    60% {
        transform: translateY(-1260px);
    }
    70% {
        transform: translateY(-1440px);
    }
    80% {
        transform: translateY(-1620px);
    }
    90% {
        transform: translateY(-1800px);
    }
}
@keyframes hundredths-ones {
    0% {
        transform: translateY(-180px);
    }
    10% {
        transform: translateY(-360px);
    }
    20% {
        transform: translateY(-540px);
    }
    30% {
        transform: translateY(-720px);
    }
    40% {
        transform: translateY(-900px);
    }
    50% {
        transform: translateY(-1080px);
    }
    60% {
        transform: translateY(-1260px);
    }
    70% {
        transform: translateY(-1440px);
    }
    80% {
        transform: translateY(-1620px);
    }
    90% {
        transform: translateY(-1800px);
    }
}
