@import "compass/css3";
@import "countdown";
@import "blue-glow-buttons";
@import "rocker-switch";
@import "lever";
@import "two-switches";
@import "toggle2";
@import "switchy";
@import "off";
@mixin transition($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}
body {
    // display: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #111;
    color: #fff;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 200;
    .intro {
        .warning-text {
            color: red;
            font-weight: 700;
            font-size: 100px;
            font-family: helvetica;
            text-align: center;
            margin: 50px auto 0;
            .blink {
                text-transform: uppercase;
                text-shadow: 0 0 10px red;
                .fa {
                    color: red;
                    text-shadow: 0 0 10px red;
                    margin: 0 50px;
                    font-size: 100px;
                }
            }
        }
        .typed-container {
            margin: 70px;
            .typed {
                font-size: 50px;
                text-align: center;
                text-transform: uppercase;
            }
            .typed-cursor {
                opacity: 1;
                -webkit-animation: blink 0.7s infinite;
                -moz-animation: blink 0.7s infinite;
                animation: blink 0.7s infinite;
                font-size: 60px;
            }
            @keyframes blink {
                0% {
                    opacity: 1;
                }
                50% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
            @-webkit-keyframes blink {
                0% {
                    opacity: 1;
                }
                50% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
            @-moz-keyframes blink {
                0% {
                    opacity: 1;
                }
                50% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
        }
        .hyperspeed-container {
            text-align: center;
            margin: 0 auto;
            // display: none;
            // opacity: 0;
            .hyperspeed-button {
                display: none;
                text-decoration: none;
                text-transform: uppercase;
                padding: 20px;
                border-radius: 10px;
                background: #ce0000;
                color: #fff;
                line-height: 1;
                font-size: 36px;
                font-weight: 500;
                // font-family: helvetica;
                text-align: center;
                position: absolute;
                margin: 0 auto;
                left: 0;
                right: 0;
                bottom: 100px;
                width: 300px;
                text-shadow: 0 -1px -1px #960000;
                @include box-shadow(0 5px 0 #960000, 0 5px 5px 1px rgba(0, 0, 0, 0.4));
                @include transition(all 0.15s ease-in-out);
                &:hover {
                    background-color: #ad0000;
                    text-shadow: 0 -1px -1px #932a2a;
                    @include box-shadow(0 4px 0 #932a2a, 0 5px 5px 1px rgba(0, 0, 0, 0.4));
                }
                &:active {
                    margin-top: -18px;
                    -moz-box-shadow: none;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                }
            }
        }
    }
    .starfield {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
    }
    .instructions-container {
        background: #171717;
        border: 1px solid #222;
        width: 370px;
        height: 35px;
        margin: 40px auto 0;
        position: absolute;
        left: 0;
        right: 0;
        top: 400px;
        padding: 10px 15px 0;
        #instruction {
            // margin: 20px;
            // top: 15px;
            position: relative;
            font-size: 20px;
            text-transform: uppercase;
        }
        .typed-cursor {
            font-size: 22px;
        }
    }
    // BUTTONS --------------------------------------------------
    .toggle1 {
        .toggle {
            display: block;
            // position: relative;
            position: absolute;
            bottom: 50px;
            left: 50px;
            // margin: 0 auto;
            width: 150px;
            height: 60px;
            color: white;
            outline: 0;
            text-decoration: none;
            border-radius: 100px;
            border: 2px solid #546E7A;
            background-color: #263238;
            transition: all 500ms;
            &:active {
                background-color: darken(#263238, 5%);
            }
            &:hover:not(.toggle--moving) {
                &:after {
                    background-color: #455A64;
                }
            }
            &:after {
                display: block;
                position: absolute;
                top: 4px;
                bottom: 4px;
                left: 4px;
                width: calc(50% - 8px);
                line-height: 45px;
                text-align: center;
                text-transform: uppercase;
                font-size: 20px;
                color: white;
                background-color: #37474F;
                border: 2px solid;
                transition: all 500ms;
            }
        }
        .toggle--on {
            &:after {
                content: 'On';
                border-radius: 50px 5px 5px 50px;
                color: #66BB6A;
            }
        }
        .toggle--off {
            &:after {
                content: 'Off';
                border-radius: 5px 50px 50px 5px;
                transform: translate(100%, 0);
                color: #f44336;
            }
        }
        .toggle--moving {
            background-color: darken(#263238, 5%);
            &:after {
                color: transparent;
                border-color: darken(#546E7A, 8%);
                background-color: darken(#37474F, 10%);
                transition: color 0s, transform 500ms, border-radius 500ms, background-color 500ms;
            }
        }
    }
    .metallic-toggle-container {
        position: absolute;
        top: 180px;
        left: 70px;
        label {
            color: transparent;
            background: url('http://rainycafe.com/img/sprite.png') -40px 0 no-repeat;
            border-radius: 14px;
            box-shadow: 0 1px 2px #888, 0 0 3px #777, inset 0 -1px 5px #333;
            display: block;
            position: relative;
            text-indent: 100%;
            width: 65px;
            height: 29px;
            -webkit-transition: background-position 0.3s ease;
            -moz-transition: background-position 0.3s ease;
            cursor: pointer;
            font-size: 0.01em;
            float: left;
            span {
                background: url('http://rainycafe.com/img/sprite.png') -1px -30px no-repeat;
                border: 0 solid transparent;
                border-radius: 14px;
                box-shadow: 0 1px 3px #000, 0 2px 13px #000;
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: -1px;
                width: 28px;
                height: 28px;
                @include transition(left 0.3s ease);
            }
        }
        input[type=checkbox] {
            display: none;
            &:checked + label {
                background-position: 0 0;
                span {
                    left: 40px;
                }
            }
        }
    }
    .lever2 {
        position: absolute;
        top: 160px;
        right: 20px;
        .lever {
            display: inline-block;
            transform-style: preserve-3d;
            width: 3em;
            height: 6em;
            font-size: 1em;
            background: gray;
            margin: 5px;
            .arm {
                display: inline-block;
                position: absolute;
                left: 1em;
                right: 1em;
                top: 1em;
                bottom: 50%;
                background: darkgray;
                transform-origin: bottom;
                transform-style: preserve-3d;
                .end {
                    transform-style: preserve-3d;
                    display: inline-block;
                    position: absolute;
                    left: -0.5em;
                    right: -0.5em;
                    top: -0.5em;
                    height: 1em;
                    background: red;
                }
            }
        }
        &:not(:active) * {
            transition: 0.5s all;
        }
        .lever .end {
            cursor: s-resize;
        }
    }
    .three-container {
        position: absolute;
        top: 300px;
        // left: 0;
        right: 25px;
        // margin: 0 auto;
        text-align: center;
        width: 140px;
        height: 60px;
        background: #333;
        border-radius: 5px;
        .switch {
            position: relative;
            margin: 15px auto;
            height: 26px;
            width: 120px;
            background: rgba(0, 0, 0, 0.25);
            border-radius: 3px;
            -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
            .switch-label {
                position: relative;
                z-index: 2;
                float: left;
                width: 58px;
                line-height: 26px;
                font-size: 14px;
                color: rgba(255, 255, 255, 0.35);
                text-align: center;
                text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
                cursor: pointer;
                &:active {
                    font-weight: bold;
                }
            }
            .switch-label-off {
                padding-left: 2px;
            }
            .switch-label-on {
                padding-right: 2px;
            }
            .switch-input {
                display: none;
            }
            .switch-input:checked + .switch-label {
                font-weight: bold;
                color: rgba(0, 0, 0, 0.65);
                text-shadow: 0 1px rgba(255, 255, 255, 0.25);
                @include transition(0.15s ease-out);
            }
            .switch-input:checked + .switch-label-on ~ .switch-selection {
                /* Note: left: 50% doesn't transition in WebKit */
                left: 60px;
            }
            .switch-selection {
                display: block;
                position: absolute;
                z-index: 1;
                top: 2px;
                left: 2px;
                width: 58px;
                height: 22px;
                background: #65bd63;
                border-radius: 3px;
                @include background-image(linear-gradient(to bottom, #9dd993, #65bd63));
                -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
                box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
                @include transition(left 0.15s ease-out);
            }
        }
    }
    .obj-container {
        .obj {
            width: 100px;
            height: 100px;
            margin-left: -50px;
            margin-top: -50px;
            top: 70px;
            right: 300px;
            position: absolute;
            background: #e55050;
            border-radius: 100px;
            box-shadow: inset -2px 2px 2px 0 #ef9393, inset 2px -2px 2px 0 rgba(113, 17, 17, 0.3), inset 0 0 40px 15px #de2424, 1px 1px 0 0 #d32020, 2px 2px 0 0 #c61e1e, 3px 3px 0 0 #b81c1c, 4px 4px 0 0 #ab1a1a, 5px 5px 0 0 #9e1818, 6px 6px 0 0 #901616, 7px 7px 0 0 #881414, 8px 8px 0 0 #831414, 9px 9px 0 0 #7f1313, 10px 10px 0 0 #7a1212, 11px 11px 0 0 #761212, 12px 12px 0 0 #711111, 13px 13px 0 0 #711111, 14px 14px 0 0 #711111, 15px 15px 0 0 #711111, 16px 16px 0 0 #711111, 17px 17px 0 0 #711111, 18px 18px 0 0 #711111, 19px 19px 0 0 #711111, 20px 20px 0 0 #711111, 19px 21px 1pc 1px rgba(113, 17, 17, 0.1), 18px 22px 1px 1px rgba(113, 17, 17, 0.1), 17px 23px 1px 1px rgba(113, 17, 17, 0.1), 16px 24px 1px 1px rgba(113, 17, 17, 0.1), 15px 25px 1px 1px rgba(113, 17, 17, 0.1), 14px 26px 2px 1px rgba(113, 17, 17, 0.1), 13px 27px 3px 1px rgba(113, 17, 17, 0.1), 12px 28px 4px 1px rgba(113, 17, 17, 0.1), 11px 29px 5px 1px rgba(113, 17, 17, 0.1), 10px 30px 6px 1px rgba(113, 17, 17, 0.1), 9px 31px 7px 1px rgba(113, 17, 17, 0.1), 20px 20px 4px 1px #711111;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
            &:active {
                margin-left: -31px;
                margin-top: -31px;
                background: #e86666;
                box-shadow: inset -2px 2px 2px 0 #ef9393, inset 2px -2px 2px 0 rgba(113, 17, 17, 0.3), inset 0 0 40px 15px #de2424, 1px 1px 0 0 #711111, 1px 1px 0 0 #711111, 1px 1px 0 0 #711111, 1px 1px 0 0 #711111, 1px 1px 0 0 #711111, 1px 1px 0 0 #711111, 1px 1px 0 0 #711111, 1px 1px 0 0 #711111, 1px 1px 0 0 #711111, 1px 1px 0 0 #711111, 1px 1px 0 0 #711111, 1px 1px 0 0 #711111, 1px 1px 0 0 #711111, 1px 1px 0 0 #711111, 1px 1px 0 0 #711111, 1px 1px 0 0 #711111, 1px 1px 0 0 #711111, 1px 1px 0 0 #711111, 1px 1px 0 0 #711111, 1px 1px 0 0 #711111, 1px 1px 2px 1px rgba(113, 17, 17, 0.5), 0 0 4px 1px #711111;
            }
        }
    }
}
