* {
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.timer {
    width: 810px;
    height: 250px;
    display: block;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: #ce0000;
    * {
        cursor: default;
    }
    &--clock {
        width: 100%;
        position: relative;
        padding-left: 6px;
        margin-top: 22px;
        overflow: hidden;
        .clock-display-grp {
            width: 100%;
            position: relative;
            .number-grp {
                width: auto;
                display: block;
                height: 156px;
                float: left;
                overflow: hidden;
                .number-grp-wrp {
                    width: 100%;
                    position: relative;
                    .num {
                        width: 100%;
                        position: relative;
                        height: 156px;
                        p {
                            width: auto;
                            font-size: 200px;
                            line-height: 150px; //180
                            font-weight: 300;
                        }
                    }
                }
            }
        }
        .clock-separator {
            width: auto;
            float: left;
            display: block;
            p {
                width: auto;
                font-size: 200px;
                line-height: 150px; //180
                font-weight: 300;
            }
        }
    }
}
