*,
*:after,
*:before {
    box-sizing: border-box;
}
.toggle1 {
    .toggle {
        display: block;
        // position: relative;
        position: absolute;
        bottom: 50px;
        left: 50px;
        // margin: 0 auto;
        width: 150px;
        height: 60px;
        color: white;
        outline: 0;
        text-decoration: none;
        border-radius: 100px;
        border: 2px solid #546E7A;
        background-color: #263238;
        transition: all 500ms;
        &:active {
            background-color: darken(#263238, 5%);
        }
        &:hover:not(.toggle--moving) {
            &:after {
                background-color: #455A64;
            }
        }
        &:after {
            display: block;
            position: absolute;
            top: 4px;
            bottom: 4px;
            left: 4px;
            width: calc(50% - 4px);
            line-height: 45px;
            text-align: center;
            text-transform: uppercase;
            font-size: 20px;
            color: white;
            background-color: #37474F;
            border: 2px solid;
            transition: all 500ms;
        }
    }
    .toggle--on {
        &:after {
            content: 'On';
            border-radius: 50px 5px 5px 50px;
            color: #66BB6A;
        }
    }
    .toggle--off {
        &:after {
            content: 'Off';
            border-radius: 5px 50px 50px 5px;
            transform: translate(100%, 0);
            color: #f44336;
        }
    }
    .toggle--moving {
        background-color: darken(#263238, 5%);
        &:after {
            color: transparent;
            border-color: darken(#546E7A, 8%);
            background-color: darken(#37474F, 10%);
            transition: color 0s, transform 500ms, border-radius 500ms, background-color 500ms;
        }
    }
}
